@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #030712;
}

body::before {
  content: "";
  position: fixed;
  width: 600px;
  height: 600px;
  background: rgba(34, 211, 238, 0.15);
  filter: blur(120px);
  top: -200px;
  left: -200px;
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;
  background: rgba(59, 130, 246, 0.15);
  filter: blur(120px);
  bottom: -200px;
  right: -200px;
  z-index: -1;
}
html {
  scroll-behavior: smooth;
}